@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;1,300&family=Thasadith:wght@700&family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, #00345e, #1c87c9, #8ebf42);
    font-family: 'Kanit', sans-serif;
}

.main {
    display: flex;
}

.card {
  background-color: #fff;
  opacity: 0.6;
    width: 50vh;
    margin: 100px auto auto auto;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, .7);
}

img {
    border-radius: 78px;
    height: 60px;
    border: 2px solid black;
    margin-top: 5px;
    margin-left: 5px;
}

h4 {
    margin-left: 80px;
    margin-top: -60px;
}

span {
    margin-left: 80px;
    margin-top: -50px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

p {
    margin-top: 20px;
}